body {
  background-color: #001F3F; /* Puedes ajustar el color oscuro aquí sugerencia: #111 */
}

.principal .carousel img {
  height: 450px;
  object-fit: cover;
}

.servicios h1 {
  background-color: orange;
  text-align: center;
  color: #001F3F;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #00abff;
  color: white;
  width: 30rem;
  padding: 3px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.4); /* Ajusta los valores según tus preferencias */
}

/* mediaquery 425   */

@media (max-width: 580px) {
  .principal .carousel img {
    height: 200px;
  }
}
